.profileButton {
    margin-left: auto;
    margin-right: 10px;
}

.logo {
  font-weight: normal;
  font-size: 25px;
  margin-left: 2%;
}

.toolbar {
    background-color: rgb(55, 55, 228);
    height: 12%;
}