.booking-header {
  text-align: left;
  margin-left: 7%;
  font-weight: 500;
  font-size: 17px;
  align-items: center;
  margin-top: 35px;
  margin-bottom: 30px;
}

.booking-subheader {
  text-align: left;
  margin-left: 7%;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 400;
  color: #8a8a8a;
   margin-bottom: 40px;
}

.seat-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  background: #69a2e4;
  padding: 1rem;
  width: 768px;
  max-height: 400px;
  overflow: auto;
}

.seat-map-preview {
  margin-top: 1rem;
  text-align: left;
  align-items: center;
  width: 800px;
  margin-left: 25%;
}

.cockpit {
  width: 800px;
  background: #1e3d59;
  color: white;
  text-align: center;
  border-top-left-radius: 100% 100%;
  border-top-right-radius: 100% 100%;
  padding: 1rem 0;
  font-weight: bold;
}

.seat {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  gap: 4px;
}


.tail {
  background: #1e3d59;
  color: white;
  text-align: center;
  border-bottom-left-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  padding: 0.5rem 0;
  font-size: 0.9rem;
}

.aisle {
  margin-left: 20px;
}

.seat-btn {
  all: unset;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.seat-btn:hover{
  background-color: rgb(19, 209, 19);
}

.seat-btn.selected mat-icon {
  color: #054c92;
}

.seat-btn.selected {
  background-color: rgba(25, 118, 210, 0.15);
  border-radius: 6px;
}