<mat-horizontal-stepper linear #stepper>

    <mat-step>
        <ng-template matStepLabel>
            Seat Selection
        </ng-template>
        <app-seat-selection 
            [flightUUID]="flightUUID"
            [selectedSeats]="selectedSeats"
            (selectedSeatsChange)="selectedSeats = $event"
        ></app-seat-selection>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>
            Complete Reservation
        </ng-template>

       <app-ticket-form
           [selectedSeats]="selectedSeats"
           [flightUUID]="flightUUID"
        >
        </app-ticket-form>
    </mat-step>
</mat-horizontal-stepper>

<mat-divider></mat-divider>

<div class="booking-component-footer">
    <div class="footer-left">
        @if (stepper.selectedIndex > 0) {
        <button mat-icon-button (click)="previous()" id="previous">
            <mat-icon>chevron_left</mat-icon>
        </button>
        }
    </div>
    <div class="footer-right">
        @if (stepper.selectedIndex === 0) {
            <button mat-icon-button (click)="next()" class="clickable-no-background" id="next" [disabled]="!hasSelectedSeats()">
                <mat-icon>chevron_right</mat-icon>
            </button>
        } @else {
            <button mat-flat-button color="primary" style="margin-top: 3px;">
                Make Reservation
            </button>
        }
    </div>
</div>