.booking-component-footer {
  padding: 1%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 4%;
}

.footer-left,
.footer-right {
  display: flex;
  align-items: center;
}