<div class="airlines-table-container">
  
  <div>
    <h2>Airlines Management</h2>

    <div class="filter-container">
      <mat-form-field appearance="outline" class="filter-input">
        <mat-label>Filter by</mat-label>
        <mat-select [(value)]="filterBy">
          <mat-option *ngFor="let option of filterOptions" [value]="option.key">
            {{ option.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="filter-input">
        <mat-label>Search</mat-label>
        <input matInput placeholder="Enter value..." [(ngModel)]="filterValue"/>
      </mat-form-field>

      <button color="primary" mat-raised-button (click)="applyFilter()" class="filter-button" [disabled]=isFilteringEmpty()>
        Filter
      </button>
      <button color="primary" mat-button (click)="resetFiltering()" class="filter-reset-button">
        Reset
      </button>
  </div>

  <div class="table-wrapper">
    <table mat-table [dataSource]="dataSource" matSort [matSortDisableClear]="true" class="mat-elevation-z8">

      <ng-container matColumnDef="airlineName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Airline Name </th>
        <td mat-cell *matCellDef="let airline"> {{ airline.airlineName }} </td>
      </ng-container>

      <ng-container matColumnDef="u2digitCode">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Code </th>
        <td mat-cell *matCellDef="let airline"> {{ airline.u2digitCode }} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let airline">
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <mat-paginator [pageSizeOptions]="pagingOptions" showFirstLastButtons></mat-paginator>
</div>
