<div class="search-form-container">
    <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill" class="search-field">
            <mat-label>Flying from</mat-label>
            <mat-select formControlName="from">
                <mat-option *ngFor="let city of cities" [value]="city">
                    {{ city.city }} ({{ city.code }})
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" class="search-field">
            <mat-label>Flying to</mat-label>
            <mat-select formControlName="to">
                <mat-option *ngFor="let city of cities" [value]="city">
                    {{ city.city }} ({{ city.code }})
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" class="search-field">
            <mat-label>Choose departure date</mat-label>
            <input matInput [matDatepickerFilter]="disablePastDates"
                   [matDatepicker]="departurePicker" formControlName="departing"
                   (dateChange)="onDepartingSelected($event)">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="departurePicker">
                <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #departurePicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="fill" class="search-field">
            <mat-label>Choose arrival date</mat-label>
            <input matInput [matDatepickerFilter]="validateArrivalDates"
                   [matDatepicker]="arrivalPicker" formControlName="returning"
                   >
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="arrivalPicker">
                <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #arrivalPicker></mat-datepicker>
        </mat-form-field>
    </form>
    <div class="search-button-container">
        <button class="search-button" color="primary" 
         [disabled]="!atLeastOneSelected()" mat-raised-button (click)="onSubmit()">Search</button>
    </div>
</div>