<h2 mat-dialog-title>
  <mat-icon aria-hidden="true">warning</mat-icon>
  &nbsp; Delete Airport
</h2>

<mat-dialog-content class="delete-dialog-content">
  <p class="warning-title"><strong>Are you sure you want to delete this airport?</strong></p>

  <p class="warning-body">
    This action <strong>cannot be undone</strong>. All data associated with this airport may be permanently removed
    from the system (including profile information, addresses, bookings, audit logs, etc.).
  </p>

  <p class="warning-note" aria-live="polite">
    Please proceed only if you are certain you want to permanently delete this account.
  </p>
</mat-dialog-content>

<div class="delete-buttons-container">
    <button type="button" mat-button color="primary" (click)="close()">
        Close
    </button>
    <button mat-raised-button color="warn" (click)="deleteAirport()" class="delete-button">
        Delete Airport
    </button>
</div>