<div class="change-password-container">
    <h2 mat-dialog-title>Reset Password</h2>

    <div class="change-password-form-container">
        <p><i>Provide your new password</i></p>

        <form [formGroup]="resetPasswordForm" (ngSubmit)="resetUserPassword()">
            <mat-form-field appearance="outline" class="change-password-text-field">
                <mat-label>New Password</mat-label>
                <input matInput type="password" matInput formControlName="newPassword" required/>

                <mat-error *ngIf="resetPasswordForm.controls['newPassword']?.hasError('required')">
                    Password is required.
                </mat-error>

                <mat-error *ngIf="resetPasswordForm.controls['newPassword']?.hasError('pattern')">
                    Password must contain at least 8 characters, including:
                    one uppercase letter, one lowercase letter, one number, and one special character.
                </mat-error>
            </mat-form-field>            

            <mat-form-field appearance="outline" class="change-password-text-field">
                <mat-label>Confirm New Password</mat-label>
                <input matInput type="password" formControlName="newPasswordConfirmation" required/>

                <mat-error *ngIf="resetPasswordForm.controls['newPasswordConfirmation']?.hasError('required')">
                    Confirm Password is required.
                </mat-error>
            </mat-form-field>

            <mat-error *ngIf="resetPasswordForm.hasError('passwordsMismatch') && resetPasswordForm.get('newPasswordConfirmation')?.touched">
                Passwords do not match.
            </mat-error>

            <div class="change-password-buttons-container">
                <button type="button" mat-button color="primary" (click)="close()" class="change-password-button">
                    Close
                </button>
                <button type="submit" mat-raised-button color="primary" class="change-password-button">
                    Reset Password
                </button>
            </div>
        </form>
    </div>
</div>