.change-password-container {
    height: 50%;
    width: 65%;
    padding: 1.5rem;
}

.change-password-form-container{
    width: 440px;
}

.change-password-text-field{
    margin-top: 8%;
    width: 100%;
}

.change-password-button{
    margin-left: 5%;
}

.change-password-buttons-container{
    margin-top: 3%;
}

p {
    color: rgba(92, 95, 93, 0.795);
}