<div class="users-create-container">
    <h2 mat-dialog-title>Create new User</h2>

    <form [formGroup]="usersCreateForm" (ngSubmit)="createNewUser()">
        <div class="users-create-form-container">
            <mat-form-field appearance="outline" class="field-input">
                <mat-label>Username</mat-label>
                <input type="text" matInput formControlName="username" required/>
            </mat-form-field>

            <mat-form-field appearance="outline" class="field-input">
                <mat-label>First Name</mat-label>
                <input matInput formControlName="firstName" required/>
            </mat-form-field>

            <mat-form-field appearance="outline" class="field-input">
                <mat-label>Last name</mat-label>
                <input matInput formControlName="lastName" required/>
            </mat-form-field>
            
            <mat-form-field appearance="outline" class="field-input">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" required/>
                <mat-error *ngIf="usersCreateForm.get('email')?.hasError('required')">
                    Email is required for all users.
                </mat-error>
                <mat-error *ngIf="usersCreateForm.get('email')?.hasError('email')">
                    Email must have a valid address format.
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="field-input">
                <mat-label>Phone Number</mat-label>
                <input matInput formControlName="phoneNumber" required/>
                <mat-error *ngIf="usersCreateForm.get('phoneNumber')?.hasError('required')">
                    Phone Number is required for all users.
                </mat-error>
                <mat-error *ngIf="usersCreateForm.get('phoneNumber')?.hasError('pattern')">
                    Phone Number must include exactly 10 single-digits.
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" *ngIf="isPassenger()">
                <mat-label>Passport</mat-label>
                <input matInput formControlName="passport" required/>
                <mat-error *ngIf="usersCreateForm.get('passport')?.hasError('required')">
                    Passport is required for passengers.
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" *ngIf="isAirlineAdmin()" class="field-input">
                <mat-label>Airline Code</mat-label>
                <input matInput formControlName="airlineCode" required/>
                <mat-error *ngIf="usersCreateForm.get('airlineCode')?.hasError('required')">
                    Airline code is required for Airline Administrators.
                </mat-error>
                <mat-error *ngIf="usersCreateForm.get('airlineCode')?.hasError('pattern')">
                    Airline code must consist of 2–3 uppercase letters (A–Z).
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" *ngIf="isAirlineAdmin()">
                <mat-label>Airline Name</mat-label>
                <input matInput formControlName="airlineName" required/>
                <mat-error *ngIf="usersCreateForm.get('airlineName')?.hasError('required')">
                   Airline name is required for Airline Administrators.
                </mat-error>
            </mat-form-field>

            <div *ngIf="isAirlineAdmin()" style="display: flex; border: 1px solid rgba(0, 0, 0, 0.23); padding: 1rem; border-radius: 20px; width: 80%;">
                <div class="file-upload-container">
                    <mat-label class="file-upload-label">Airline Logo</mat-label>

                    <div class="file-upload-box">
                        <button
                        mat-stroked-button
                        color="primary"
                        type="button"
                        (click)="fileInput.click()"
                        [disabled]="!nonExistingAirline"
                        >
                            <mat-icon>upload</mat-icon>
                            Choose File
                        </button>

                        <span class="file-name" *ngIf="selectedFile">{{ selectedFile.name }}</span>

                        <input
                        #fileInput
                        type="file"
                        accept="image/*"
                        (change)="onFileSelected($event)"
                        hidden
                        />
                    </div>
                    <mat-error *ngIf="logoRequiredError" class="logo-error">
                     Airline logo is required for Airline Administrators.
                    </mat-error>
                </div>   

                <div class="image-preview-container" *ngIf="imagePreview">
                    <img [src]="imagePreview" alt="Airline Logo Preview" class="image-preview" />
                </div>
            </div>

            <div class="role-input">
                <mat-form-field appearance="fill">
                    <mat-label>Role</mat-label>
                    <mat-select formControlName="role">
                        <mat-option *ngFor="let role of roles" [value]="role.key">
                            {{ role.label }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="usersCreateForm.get('role')?.hasError('required')">
                        Role is required for all users.
                    </mat-error>
                </mat-form-field>
            </div>
        </div>

        <div formArrayName="addresses">
            <div class="addresses-title-container">
                <h4 mat-dialog-title>Addresses</h4>
                <button mat-button color="primary" (click)="addAddress()" type="button">
                    <mat-icon>add_circle_outline</mat-icon>
                </button>
            </div>

            <div *ngFor="let address of addresses.controls; let i = index" [formGroupName]="i" class="address-group">
                <mat-form-field appearance="outline" class="field-input">
                    <mat-label>Street</mat-label>
                    <input matInput formControlName="addressName" required />
                </mat-form-field>

                <mat-form-field appearance="outline" class="field-input">
                    <mat-label>Country</mat-label>
                    <input
                        type="text"
                        matInput
                        [matAutocomplete]="countryAuto"
                        formControlName="country"
                    />
                    <mat-autocomplete
                        #countryAuto="matAutocomplete"
                        [displayWith]="displayCityCountry"
                    >
                        <mat-option *ngFor="let country of countriesList[i]" [value]="country">
                            {{ country }}
                        </mat-option>
                    </mat-autocomplete>
                    <mat-error *ngIf="addresses.at(i).get('country')?.hasError('invalidCountryAutoComplete')">
                        Please select a valid country from the list.
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="field-input">
                    <mat-label>City</mat-label>
                    <input
                        type="text"
                        matInput
                        [matAutocomplete]="cityAuto"
                        formControlName="city"
                    />
                    <mat-autocomplete
                        #cityAuto="matAutocomplete"
                        [displayWith]="displayCityCountry"
                    >
                        <mat-option *ngFor="let city of citiesList[i]" [value]="city">
                            {{ city }}
                        </mat-option>
                    </mat-autocomplete>
                    <mat-error *ngIf="addresses.at(i).get('city')?.hasError('invalidCityAutoComplete')">
                        Please select a valid city from the list.
                    </mat-error>
                </mat-form-field>

                <button mat-stroked-button color="warn" (click)="removeAddress(i)" type="button">
                    Remove
                </button>
            </div>

        </div>

        <div class="create-buttons-container">
            <button type="button" mat-button color="primary" (click)="close()">
                Close
            </button>
            <button type="submit" mat-raised-button color="primary">
                Create User
            </button>
        </div>
    </form>
</div>