<div class="flights-table-container">
    <div>
        <h2>Flights Management</h2>

        
        <app-flights-filtering (filterFormSubmission)="handleFormSubmit($event)"></app-flights-filtering>
        <button mat-raised-button color="primary" (click)="openCreateModal()" class="flights-create-button">
            Create new Flight
        </button>
    
        <div class="table-wrapper">
            <table mat-table [dataSource]="dataSource" matSort [matSortDisableClear]="true" class="mat-elevation-z8">

            <ng-container matColumnDef="flightNumber">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Flight Number </th>
                <td mat-cell *matCellDef="let flight"> {{ flight.flightNumber }} </td>
            </ng-container>

            <ng-container matColumnDef="flightUUID">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Flight Id </th>
                <td mat-cell *matCellDef="let flight"> {{ flight.flightUUID }} </td>
            </ng-container>

            <ng-container matColumnDef="flightStatus">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                <td mat-cell *matCellDef="let flight">
                    <span
                        class="status-badge"
                        [ngClass]="{
                        'status-scheduled': flight.flightStatus === 'SCHEDULED',
                        'status-cancelled': flight.flightStatus === 'CANCELLED',
                        'status-delayed': flight.flightStatus === 'DELAYED',
                        'status-in-flight': flight.flightStatus === 'IN_FLIGHT',
                        'status-arrived': flight.flightStatus === 'ARRIVED'
                        }"
                    >
                        <mat-icon *ngIf="flight.flightStatus === 'SCHEDULED'">check_circle</mat-icon>
                        <mat-icon *ngIf="flight.flightStatus === 'CANCELLED'">cancel</mat-icon>
                        <mat-icon *ngIf="flight.flightStatus === 'DELAYED'">timelapse</mat-icon>
                        <mat-icon *ngIf="flight.flightStatus === 'IN_FLIGHT'">local_airport</mat-icon>
                        <mat-icon *ngIf="flight.flightStatus === 'ARRIVED'">location_pin</mat-icon>
                        {{ flight.flightStatus }}
                    </span>
                </td>
            </ng-container>

            <ng-container matColumnDef="departureAirport">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Departure Airport </th>
                <td mat-cell *matCellDef="let flight"> {{ flight.departureAirport.u3digitCode }} </td>
            </ng-container>

            <ng-container matColumnDef="departureTime">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Departure Time </th>
                <td mat-cell *matCellDef="let flight"> {{ flight.departureTime }} </td>
            </ng-container>

            <ng-container matColumnDef="arrivalAirport">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Arrival Airport </th>
                <td mat-cell *matCellDef="let flight"> {{ flight.arrivalAirport.u3digitCode }} </td>
            </ng-container>

            <ng-container matColumnDef="arrivalTime">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Arrival Time </th>
                <td mat-cell *matCellDef="let flight"> {{ flight.arrivalTime }} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let flight">
                <button
                    mat-icon-button
                    [matMenuTriggerFor]="actionsMenu"
                    matTooltip="More actions"
                    aria-label="Flight actions">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #actionsMenu="matMenu">
                    <button mat-menu-item (click)="editFlight(flight)" color="primary">
                        <mat-icon>edit</mat-icon>
                        <span>Edit Flight</span>
                    </button>
                    <button *ngIf="flightIsNotInFinalStatus(flight)" mat-menu-item (click)="cancelFlight(flight)" color="warn">
                        <mat-icon>delete</mat-icon>
                        <span>Cancel Flight</span>
                    </button>
                    <button *ngIf="flightIsNotInFinalStatus(flight)" mat-menu-item (click)="updateFlightStatus(flight)" color="primary">
                        <mat-icon>tips_and_updates</mat-icon>
                        <span>Update Status</span>
                    </button>
                </mat-menu>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </div>

    <mat-paginator [pageSizeOptions]="pagingOptions" showFirstLastButtons></mat-paginator>
</div>