<div class="booking-header">
    {{ displayBookingHeaderInformation() }}
</div>

<div class="booking-subheader">
{{ displayAdditionalFlightInfo() }}
</div>

<div class="seat-map-preview">
    <div class="cockpit">
        <h3>✈ Cockpit</h3>
    </div>

    <div class="seat-grid">
        <div *ngFor="let row of seatRows; let rowIndex = index" class="seat">
            <div *ngFor="let seat of leftSeatColumns; let colIndex = index" class="seat">
                <button
                    class="seat-btn"
                    [class.selected]="isLocked(rowIndex+1, colIndex+1)"
                    [class.booked]="isBooked(rowIndex+1, colIndex+1)"
                    [disabled]="isBooked(rowIndex+1, colIndex+1)"
                    (click)="onSeatClick(rowIndex+1, colIndex+1)"
                    >
                    <mat-icon>event_seat</mat-icon>
                </button>
            </div>

            <div class="aisle" style="background-color: black;">

            </div>

            <div *ngFor="let seat of rightSeatColumns; let colIndex = index" class="seat">
                <button
                    class="seat-btn"
                    [class.selected]="isLocked(rowIndex+1, getRightSideIndex(colIndex+1))"
                    [class.booked]="isBooked(rowIndex+1, getRightSideIndex(colIndex+1))"
                    [disabled]="isBooked(rowIndex+1, getRightSideIndex(colIndex+1))"
                    (click)="onSeatClick(rowIndex+1, getRightSideIndex(colIndex+1))"
                    >
                    <mat-icon>event_seat</mat-icon>
                </button>
            </div>
        </div>
    </div>

    <div class="tail">
        <h3>Tail</h3>
    </div>
</div>