<h2 mat-dialog-title>
  <mat-icon aria-hidden="true">warning</mat-icon>
  &nbsp; Cancel Flight
</h2>

<mat-dialog-content class="delete-dialog-content">
  <p class="warning-title"><strong>Are you sure you want to cancel this user?</strong></p>

  <p class="warning-body">
    This action <strong>cannot be undone</strong>.
  </p>

  <p class="warning-note" aria-live="polite">
    Please proceed only if you are certain you want to permanently cancel this flight.
  </p>
</mat-dialog-content>

<div class="delete-buttons-container">
    <button type="button" mat-button color="primary" (click)="close()">
        Close
    </button>
    <button mat-raised-button color="warn" (click)="cancelFlight()" class="delete-button">
        Cancel Flight
    </button>
</div>