<div class="users-table-container">
  
  <div>
    <h2>Users Management</h2>

    <div class="filter-container">
      <mat-form-field appearance="outline" class="filter-input">
        <mat-label>Filter by</mat-label>
        <mat-select [(value)]="filterBy">
          <mat-option *ngFor="let option of filterOptions" [value]="option.key">
            {{ option.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="filter-input">
        <mat-label>Search</mat-label>
        <input matInput placeholder="Enter value..." [(ngModel)]="filterValue"/>
      </mat-form-field>

      <button color="primary" mat-raised-button (click)="applyFilter()" class="filter-button" [disabled]=isFilteringEmpty()>
        Filter
      </button>
      <button color="primary" mat-button (click)="resetFiltering()" class="filter-reset-button">
        Reset
      </button>

      <button mat-raised-button color="primary" (click)="openCreateModal()" class="users-create-button">
        Create User
      </button>
  </div>

  <div class="table-wrapper">
    <table mat-table [dataSource]="dataSource" matSort [matSortDisableClear]="true" class="mat-elevation-z8">

      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Username </th>
        <td mat-cell *matCellDef="let user"> {{ user.username }} </td>
      </ng-container>

      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
        <td mat-cell *matCellDef="let user"> {{ user.firstName }} </td>
      </ng-container>

      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
        <td mat-cell *matCellDef="let user"> {{ user.lastName }} </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
        <td mat-cell *matCellDef="let user"> {{ user.email }} </td>
      </ng-container>

      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Role </th>
        <td mat-cell *matCellDef="let user"> {{ mapUserRole(user.role) }} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let user">
          <button mat-icon-button color="primary" (click)="editUser(user)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteUser(user)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <mat-paginator [pageSizeOptions]="pagingOptions" showFirstLastButtons></mat-paginator>
</div>
