.header-label {
  margin-top: 2%;
  align-items: center;
  gap: 8px;
  justify-content: center;
  position: relative;
  display: flex;
}

.header-label h2 {
  margin: 0;
}

.flights-selection {
  justify-content: center;
  align-items: center;
  margin-top: 3%;
  position: relative;
  width: 30%;
  margin: 3% auto;
}